:root {
  --red: hsl(4, 100%, 59%);
  --orange: hsl(35, 100%, 50%);
  --yellow: hsl(48, 100%, 50%);
  --green: hsl(130, 69%, 48%);
  --blue: hsl(211, 100%, 50%);
  --violet: hsl(280, 68%, 60%);

  --button-size: 40px;
  --button-border: 1px solid hsla(0, 0%, 0%, 50%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

button {
  font: inherit;
}

header {
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 1rem;
}

header > * {
  display: inline;
}

.game-container {
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.toolbar {
  align-items: center;
  background-color: #333;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: flex;
  gap: 4px;
  padding: 4px;
}

.toolbar kbd {
  align-items: center;
  background-color: #151515;
  border-bottom: 2px solid hsla(0, 0%, 0%, 30%);
  border-radius: 8px;
  color: white;
  display: flex;
  font-family: inherit;
  height: var(--button-size);
  padding: 0 16px;
}

#color-menu {
  align-items: center;
  display: flex;
  gap: 4px;
}

body[data-active-color="0"] [data-color-key="0"],
body[data-active-color="1"] [data-color-key="1"],
body[data-active-color="r"] [data-color-key="r"],
body[data-active-color="o"] [data-color-key="o"],
body[data-active-color="y"] [data-color-key="y"],
body[data-active-color="g"] [data-color-key="g"],
body[data-active-color="b"] [data-color-key="b"],
body[data-active-color="p"] [data-color-key="p"],
#saves [data-save].active {
  transform: scale(1.15);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 80%);
}

#color-menu [data-color-key],
#saves [data-save] {
  align-items: center;
  border: var(--button-border);
  border-radius: 2px;
  display: inline-flex;
  font-weight: bold;
  height: var(--button-size);
  justify-content: center;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.5);
  width: var(--button-size);
}

#color-menu [data-color-key="1"] {
  border-color: hsla(0, 0%, 100%, 20%);
  color: white;
  text-shadow: none;
}

#active-color {
  margin-left: auto;
  border: var(--button-border);
  border-radius: 2px;
  height: var(--button-size);
  width: var(--button-size);
}

#game {
  border: 2px solid #333;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: grid;
  padding: 2px;
}

#game [data-coordinates] {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
}

#saves {
  align-items: center;
  display: flex;
  gap: 4px;
  height: var(--button-size);
  justify-content: flex-end;
  padding-top: 4px;
}
